.nav-wrapper {
    background: #0096D6;
}

.nav-wrapper >img {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.btn,
.btn:hover,
.btn-large,
.btn-large:hover {
    background-color: #0096D6;
    height: 44px;
    line-height: 44px;
}

.btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px;
}

select {
    background: transparent;
    border: 1px solid #E0E0E0;
}

select:focus {
    outline: #0096D6;
}

#circleProgress > svg {
    display: block;
    width: 100%;
}

#progress {
    color: #0096D6;
}

label {
    color: #272727;
}

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #0096D6;
    background-color: #0096D6;
}

[type="checkbox"]:not(:checked) + label:before {
    border: 1px solid;
    color: #e0e0e0;
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid #0096D6;
    border-bottom: 2px solid #0096D6;
}

#statusBar {
    font-size: 1em;
}

#sitesContainer {
    margin-top: 6px;
}

.secondary-content {
    color: #0096D6;
}

.collection {
    margin-top: 0;
}

.rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@media screen and (max-width: 601px) {

    .row {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .row #firstColumn {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .row #secondColumn {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    #getFilesBtn {
        width: 100%;
    }
    #recordTypes {
        margin-bottom: 10px;
    }

    #collectionHeader>h5{
        font-size: 1.2em;
    }
    #downloadReportBtn {
        margin-right: -25px;
        margin-bottom: -25px;
    }
}

@media screen and (max-width: 992px){
    #collectionHeader>h5{
        font-size: 1.2em;
    }
}

.modal {
    background-color: #fff;
}